@model PostDetailViewModel
@{
    ViewData["Title"] = Model.Post.Title;
}

<div>
    <h1>@Model.Post.Title</h1>
    <hr />

    <div class="text-muted mb-2">
        <small>Posted on: @Model.Post.PublishedDate.ToShortDateString()</small>
    </div>

    <div class="mt-4">
        <p>@Model.Post.Content</p>
    </div>

    <hr />
    <a asp-action="Index">Back to List</a>
</div>
